.project-list {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  overflow: auto;
  height: 40rem;
}

.videos-list {
  padding: 0 1rem;
}

[class*='render-actions__ActionsWrapper'] {
  top: 50% !important;
  padding: 0 !important;
  bottom: inherit !important;
}

.video-playback-container {
  width: 180px;
  height: 180px;
}
