.project-list {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  overflow: auto;
  min-height: calc(100vh - 135px);
  padding: 24px 8px 24px 16px;
  background: #0199ad;
  color: #fff;
  width: 260px;
  min-width: 260px;
  max-width: 260px !important;
}

[class*='render-actions__ActionsWrapper'] {
  top: 50% !important;
  padding: 0 !important;
  bottom: inherit !important;
}

.video-playback-container {
  width: 180px;
  height: 180px;
}

body {
  margin: 0;
  padding: 0;
}
